<div class="article-edit-container">
    <h2>Edit Article</h2>
    <form [formGroup]="editArticleForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
        <div class="edit-title">
            <label for="title">Title</label>
            <input id="title" formControlName="title" name="title" type="text" placeholder="Enter Title" maxlength="24" [ngClass]="{'error-title-field': editArticleForm.get('title')?.invalid && editArticleForm.get('title')?.touched}"/>
            @if(editArticleForm.get('title')?.invalid && editArticleForm.get('title')?.touched){
                <div class="error-msg">
                    Title is Required
                </div>
            }
        </div>
        <div class="edit-subtitle">
            <label for="subtitle">Subtitle</label>
            <input id="subtitle" formControlName="subtitle" name="subtitle" type="text" placeholder="Enter Subtitle" maxlength="24" [ngClass]="{'error-title-field': editArticleForm.get('subtitle')?.invalid && editArticleForm.get('subtitle')?.touched}"/>
            @if(editArticleForm.get('title')?.invalid && editArticleForm.get('subtitle')?.touched){
                <div class="error-msg">
                    Subtitle is Required
                </div>
            }
        </div>
        <div class="edit-body">
            <label>Body</label>
            <md-editor formControlName="body" type="text" placeholder="Enter Body"></md-editor>
            @if(editArticleForm.get('body')?.invalid && editArticleForm.get('body')?.touched){
                <div class="error-msg">
                    Body is Required
                </div>
            }
        </div>
        <div class="edit-tagList" formArrayName="tags">
            @for (tag of tags.controls; track tag; let idx = $index) {
                <button mat-button class="tag-button" type="button" (click)="removeTag(idx)">{{tag.value}}<mat-icon>remove</mat-icon></button>
            }
            </div>
            <div class="edit-tags">
                <label for="tags">Tag</label>
                <input id="tags" #newTag (keyup.enter)="addTag(newTag.value); newTag.value = ''"/>
            </div>
            <button mat-button class="edit-button" type="submit" [disabled]="editArticleForm.invalid">Edit Article<mat-icon>send</mat-icon></button>
        
    </form>
</div>
