<div class="article-edit-container">
    <h2>Edit Article</h2>
    <h2>{{article.title}}</h2>
    <form [formGroup]="editArticleForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
        <div class="edit-title">
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput id="title" formControlName="title"/>
                @if(editArticleForm.get('title')?.invalid && editArticleForm.get('title')?.touched){
                    <div>
                        Title is Required
                    </div>
                }
            </mat-form-field>
        </div>
        <div class="edit-subtitle">
            <mat-form-field appearance="fill">
                <mat-label>Subtitle</mat-label>
                <input matInput id="subtitle" formControlName="subtitle"/>
                @if(editArticleForm.get('subtitle')?.invalid && editArticleForm.get('subtitle')?.touched){
                    <div>
                        Title is Required
                    </div>
                }
            </mat-form-field>
        </div>
        <div class="edit-body">
            <label for="body">Body</label>
            <md-editor id="body" formControlName="body" name="body" type="text" placeholder="Enter Body"></md-editor>
            @if(editArticleForm.get('body')?.invalid && editArticleForm.get('body')?.touched){
                <div>
                    Body is Required
                </div>
            }
        </div>
        <div class="edit-tagList" formArrayName="tags">
        @for (tag of tags.controls; track tag; let idx = $index) {
            <button type="button" (click)="removeTag(idx)">{{tag.value}}</button>
        }
        </div>
        <mat-form-field>
            <label>Tag</label>
            <input matInput #newTag (keyup.enter)="addTag(newTag.value); newTag.value = ''"/>
        </mat-form-field>
        @if(errorMsg){
            <div class="errorMsg">{{ errorMsg }}</div>
        }
        <button type="submit" [disabled]="editArticleForm.invalid">Edit Article</button>
    </form>
</div>
