<div class="articleCreationContainer">
    <h2>Create a new Article</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="formGroup">
            <label for="title">Title</label>
            <input id="title" [(ngModel)]="newArticle.title" name="title" />
        </div>
        <div class="formGroup">
            <label for="subtitle">Subtitle</label>
            <input id="subtitle" [(ngModel)]="newArticle.subtilte" name="body" />
        </div>
        <div class="formGroup">
            <label for="body">Body</label>
            <textarea id="body" rows="10" [(ngModel)]="newArticle.body" name="body"></textarea>
        </div>
        <div class="formGroup">
            <label for="tag">Tag (divided by comma)</label>
            <input id="tag" [(ngModel)]="newArticle.tag" name="tag"/>
        </div>
        <button type="submit">Create Article</button>
    </form>
</div>
