.article-creation-container{
  max-width: 80%;
  margin: 0 auto;
  padding: 5%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
  transform: translateX(-28px);

  h2{
    text-align: center;
    margin-bottom: 2%;
  }

  .create-button{
    border: 5% #ccc;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
    font-size: xx-large;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .creation-title, .creation-subtitle, .creation-body, .creation-tags {
    margin-bottom: 2%;

    label{
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    input{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

  }

  .creation-tags{
    max-width: 30%;
  }

  .tag-button{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    border: #007bff;
    margin-left: 1%;
    margin-bottom: 1%;
    z-index: 50;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
  }

 

  .tag-button:hover, .create-button:hover{
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
  }
}

.error-msg{
  color: red;
}


  
  