<div class="articleCreationContainer">
    <h2>Create a new Article</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="formGroup">
            <label for="title">Title</label>
            <input id="title" [(ngModel)]="article.title" name="title" />
        </div>
        <div class="formGroup">
            <label for="subtitle">Subtitle</label>
            <input id="subtitle" [(ngModel)]="article.subtitle" name="body" />
        </div>
        <div class="formGroup">
            <label for="body">Body</label>
            <textarea class="markdown-editor" id="body" rows="10" [(ngModel)]="body" name="body"></textarea>
        </div>
        <markdown>
            MarkDown
        </markdown>
        <div class="formGroup">
            <label for="tag">Tag (divided by comma)</label>
            <input id="tag" [(ngModel)]="article.tags" name="tag"/>
        </div>
        <button type="submit">Create Article</button>
    </form>
</div>
