<div class="article-creation-container">
    <h2>Create a new Article</h2>
    <form [formGroup]="createArticleForm" (ngSubmit)="onSubmit()">
        <div class="creation-title">
            <label for="title">Title</label>
            <input id="title" formControlName="title" name="title" type="text" placeholder="Enter Title" />
            @if(createArticleForm.get('title')?.invalid && createArticleForm.get('title')?.touched){
                <div>
                    Title is Required
                </div>
            }
        </div>
        <div class="creation-subtitle">
            <label for="subtitle">Subtitle</label>
            <input id="subtitle" formControlName="subtitle" name="subtitle" type="text" placeholder="Enter Subtitle" />
            @if(createArticleForm.get('subtitle')?.invalid && createArticleForm.get('subtitle')?.touched){
                <div>
                    Subtitle is Required
                </div>
            }
        </div>
        <div class="creation-body">
            <label for="body">Body</label>
            <textarea id="body" formControlName="body" name="body" type="text" placeholder="Enter Body" rows="10"></textarea>
            @if(createArticleForm.get('body')?.invalid && createArticleForm.get('body')?.touched){
                <div>
                    Body is Required
                </div>
            }
        </div>
        <div class="creation-tagList" formArrayName="tags">
        @for (tag of tags.controls; track tag; let idx = $index) {
            <button type="button" (click)="removeTag(idx)">{{tag.value}}</button>
        }
        </div>
        <div class="creation-tags">
            <label>Tag</label>
            <input #newTag (keyup.enter)="addTag(newTag.value); newTag.value = ''"/>
        </div>
        @if(errorMsg){
            <div class="errorMsg">{{ errorMsg }}</div>
        }
        <button type="submit" [disabled]="createArticleForm.invalid">Create Article</button>
    </form>
</div>
