.toolbar{
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 100;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #ccc;
}

.left-side-toolbar{
  display: flex;
  align-items: center;
}

.toolbar-title{
  margin-left: 5%;
}

.center-side-toolbar{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.toolbar-title-screen{
  font-size:xx-large;
}

.sidenav-content{
  padding: 2%;
  width: 96.4%;
}

.sidenav-container{
  height: 91.7%;
}

mat-sidenav, mat-sidenav-content{
  transition: all 0.5s ease-in-out;
}

.sidenav{
  border-radius: 0;  
  z-index: 2;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  border-right: 1px solid #ccc 
}
