<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon class="menu-icon">menu</mat-icon>
    </button>
    <span class="toolbar-title">Press Portal</span>
    <span class="spacer"></span>
    <span class="toolbar-title-screen">{{title}}</span>
    <span class="spacer"></span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" opened mode="side" [style.width]="sidenavWidth()">
        <app-sidebar-list />
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" [style.width]="sidenavContent()" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

