<mat-toolbar class="toolbar">
    <div class="left-side-toolbar">
        <button class="menu-button" mat-icon-button (click)="collapsed.set(!collapsed())">
            <mat-icon class="menu-icon">menu</mat-icon>
        </button>
        <span class="toolbar-title">Press Portal</span>
    </div>
    <div class="center-side-toolbar">
        <span class="toolbar-title-screen">{{title}}</span>
    </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" opened mode="side" [style.width]="sidenavWidth()">
        <app-sidebar-list />
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" [style.width]="sidenavContent()" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

