mat-toolbar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.sidenav-content{
  padding: 2%;
}

.sidenav-container{
  height: 93%;
}

mat-sidenav, mat-sidenav-content{
  transition: all 0.5s ease-in-out;
}

.sidenav{
  border-radius: 0;                         
}

.toolbar-title{
  text-align: left;
}

.toolbar-title-screen{
  text-align: center;
  font-size:xx-large;
}

.spacer{
  flex: 1;
}