.nav-list-container{
    width: 95%;
}

a, mat-list-item{
    border-radius: 0 !important;
    padding: 15%;
    border-bottom: 4px solid #ccc;
}

a:hover, mat-list-item:hover{
    transform: scale(1.10);
    z-index: 4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.selectedMenuItem{
    transform: scale(1.10);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0 !important; 
}
