<mat-nav-list>
    <a mat-list-item [routerLink]="'home'" routerLinkActive="selectedMenuItem" #rla="routerLinkActive" [activated]="rla.isActive">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
    </a>
    @if(isAdmin()){
        <a mat-list-item [routerLink]="'register'" routerLinkActive="selectedMenuItem" #rla="routerLinkActive" [activated]="rla.isActive">
            <mat-icon matListItemIcon>face</mat-icon>
            <span matListItemTitle>Create User</span>
        </a>
    }
    @if(isLoggedIn()){
        <a mat-list-item [routerLink]="'article-creation'" routerLinkActive="selectedMenuItem" #rla="routerLinkActive" [activated]="rla.isActive">
            <mat-icon matListItemIcon>create</mat-icon>
            <span matListItemTitle>Create Article</span>
        </a>
        <a mat-list-item [routerLink]="'article/author/:id'" routerLinkActive="selectedMenuItem" #rla="routerLinkActive" [activated]="rla.isActive">
            <mat-icon matListItemIcon>assignment</mat-icon>
            <span matListItemTitle>Your Article</span>
        </a>
        <a mat-list-item [routerLink]="'home'" routerLinkActive="selectedMenuItem" #rla="routerLinkActive" [activated]="rla.isActive">
            <mat-icon matListItemIcon>logout</mat-icon>
            <span matListItemTitle>Logout</span>
        </a>
    } @else {
        <a mat-list-item [routerLink]="'login'" routerLinkActive="selectedMenuItem" #rla="routerLinkActive" [activated]="rla.isActive">
            <mat-icon matListItemIcon>login</mat-icon>
            <span matListItemTitle>Login</span>
        </a>
    }
</mat-nav-list>