nav-list-container{
    margin: 0;
}

a, mat-list-item{
    align-items: center;
    border-radius: 0 !important;
    padding: 15%;
}

a:hover, mat-list-item:hover{
    background-color: #dad7d7;
}

.selectedMenuItem{
    background-color: #dad7d7;
    border-radius: 0; 
}
