<mat-nav-list class="nav-list-container">
    <a mat-list-item [routerLink]="'home'" routerLinkActive="selectedMenuItem">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Home</span>
    </a>
    @if(isAdmin()){
        <a mat-list-item [routerLink]="'register'" routerLinkActive="selectedMenuItem">
            <mat-icon matListItemIcon>face</mat-icon>
            <span matListItemTitle>Create User</span>
        </a>
    }
    @if(isLoggedIn()){
        <a mat-list-item [routerLink]="'article-creation'" routerLinkActive="selectedMenuItem">
            <mat-icon matListItemIcon>create</mat-icon>
            <span matListItemTitle>Create Article</span>
        </a>
        <a mat-list-item [routerLink]="['article/author', authorId]" routerLinkActive="selectedMenuItem">
            <mat-icon matListItemIcon>assignment</mat-icon>
            <span matListItemTitle>Your Article</span>
        </a>
        <mat-list-item  (click)="openDialog()" routerLinkActive="selectedMenuItem">
            <mat-icon matListItemIcon>logout</mat-icon>
            <span matListItemTitle>Logout</span>
        </mat-list-item>
    } @else {
        <a mat-list-item [routerLink]="'login'" routerLinkActive="selectedMenuItem">
            <mat-icon matListItemIcon>login</mat-icon>
            <span matListItemTitle>Login</span>
        </a>
    }
</mat-nav-list>

