.user-article-list-container{
    max-width: 100%;
    text-align: center;
}

.pagination{
    position: relative;
    bottom: 2%;
    align-items: center;
    left: calc(50% - 56px);
    max-width: fit-content;
}