<div class="user-article-list-container">
    <h1 class="user-article-title">Articles by {{authorName}}</h1>
    @if(articles){
        <app-article-list></app-article-list>
    } @else{
        <p>There are no articles</p>
    }
</div>

<div class="pagination">
    <button (click)="onPageBack()" [disabled]="currentPage == 1">Back</button>
    <span>Page {{ currentPage }} of {{ totalPages() }}</span>
    <button (click)="onPageForward()" [disabled]="currentPage == totalPages()">Forward</button>
</div>
