<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="formGroup">
            <label for="username">Username</label>
            <input id="username" [(ngModel)]="loginForm.username" name="username" />
        </div>
        <div class="formGroup">
            <label for="password">Password</label>
            <input id="password" [(ngModel)]="loginForm.password" name="password" type="password" />  
        </div>
        @if(isLoginFailed){
            <div class="error">
                {{errorMsg}}
            </div>
        }
        <button type="submit">Login</button>
    </form>
</div>
