@if(articles.length > 0){
    <div>
        @for (article of articles; track article) {
            <div>
                <h2>
                    <a [routerLink]="['/article', article.articleId]">{{article.title}}</a>
                </h2>
                <h3>{{article.subtitle}}</h3>
                <p><em>Created in: {{article.createdAt}}</em></p>
                @if(article.updatedAt){
                    <p><em>Modified in: {{article.updatedAt}}</em></p>
                }
                <p>{{article.body}}</p>
                <a [routerLink]="['/articles', 'article.articleId']"></a>
                <h4>{{article.tags?.join(' - ')}}</h4>
                <a [routerLink]="['/article', article.articleId]">Read More...</a>
            </div>
        }
    </div>
} @else {
    <p>There are no Articles!</p>
}

<div class="pagination">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage == 1">Back</button>
    <span>Page {{ currentPage }} of </span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage == 10">Forward</button>
</div>
