@if(articles.length > 0){
    <div class="articlesList">
        @for (article of articles; track article) {
            <div>
                <h2>
                    <a [routerLink]="['/article', article.id]">{{article.title}}</a>
                </h2>
                <h3>{{article.subtitle}}</h3>
                <p><em>Created in: {{article.createdAt}}</em></p>
                @if(article.updatedAt){
                    <p><em>Modified in: {{article.updatedAt}}</em></p>
                }
                <markdown>{{article.body}}</markdown>
                <a [routerLink]="['/article', 'article.articleId']"></a>
                @for (tag of article.tags; track tag) {
                    <a [routerLink]="['/article/tag', tag]"><h4>{{ tag }}</h4></a>
                }
                <a [routerLink]="['/article', article.id]">Read More...</a>
            </div>
        }
    </div>
} @else {
    <p>There are no Articles!</p>
}
