@use '@angular/material' as mat;

@include mat.core();

$frontend-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($frontend-theme);
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-title{
  position: sticky;
  top: 0;
  z-index: 1000;
}

.pagination{
  position: sticky;
  bottom: 0;
}