@use '@angular/material' as mat;

@include mat.core();

$frontend-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($frontend-theme);
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

.md-editor-container.fullscreen {
  position: absolute !important;
  top: 50px;
  left: 50px;
  max-width: 80vw;
  max-height: 80vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  overflow: auto;
}

.btn.btn-sm.btn-default.ng-star-inserted:hover{
  transform: scale(110%);
}

.mat-mdc-card-title.mat-card-title{
  font-weight: bolder;
}