@use '@angular/material' as mat;

@include mat.core();

$frontend-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($frontend-theme);
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
