<div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="formGroup">
            <label for="username">Username</label>
            <input id="username" formControlName="username" name="username" type="text" placeholder="Enter Username" />
            @if(registerForm.get('username')?.invalid && registerForm.get('username')?.touched){
                <div>
                    Username is Required
                </div>
            }
        </div>
        <div class="formGroup">
            <label for="password">Password</label>
            <input id="password" formControlName="password" name="password" type="password" placeholder="Enter Password" />
            @if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
                <div>
                    Password is Required
                </div>
            }  
        </div>
        <div>
            <mat-checkbox [checked]="registerForm.get('role')?.value === 'admin'" (change)="registerForm.patchValue({ role: $event.checked ? 'admin' : '' })" >Admin Account</mat-checkbox>
        </div>
        @if(errorMsg){
            <div class="errorMsg">{{ errorMsg }}</div>
        }
        <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
</div>
