.card-article-detail{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;
}

.card-detail{
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    text-align: center;
}

.mat-card-title{
    font-size: xx-large;
    margin-bottom: 4%;
}

.mat-card-subtitle{
    font-size: x-large;
    margin-bottom: 4%;
}

.mat-card-createdAt{
    font-size: medium;
    margin-bottom: 4%;
}

.mat-card-updateAt{
    font-size: medium;
    margin-bottom: 4%;
}

.body-container{
    width: 95%;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}

.tag-button{
    border: #007bff;
    margin-left: 5%;
    margin-bottom: 1%;
    z-index: 50;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}