@if(article){
    <div class="card-article-detail">
        <mat-card class="card-detail" appearance="outlined">
            <mat-card-header>
                <mat-card-title class="mat-card-title">{{ article.title }}</mat-card-title>
                @if(isOwner() || isAdmin()){
                    <a button mat-icon-button class="edit-button" [routerLink]="['/article/edit', article.id]">
                        <mat-icon>edit</mat-icon>
                    </a>
                }
                <mat-card-subtitle class="mat-card-subtitle">{{ article.subtitle }}</mat-card-subtitle>
                <mat-card-subtitle class="mat-card-createdAt">Created in: {{ formatDate(article.createdAt) }}</mat-card-subtitle>
                @if(article.updatedAt != article.createdAt){
                    <mat-card-subtitle class="mat-card-updatedAt">Updated in: {{ formatDate(article.updatedAt) }}</mat-card-subtitle>
                }
            </mat-card-header>
            <mat-card-content class="body-container">
                <p><markdown>{{ article.body }}</markdown></p>
            </mat-card-content>
            <mat-card-actions align="start">
                @for (tag of article.tags; track tag) {
                    <a button mat-button class="tag-button" [routerLink]="['/article/tag', tag]">{{tag}}</a>
                }
              </mat-card-actions>
        </mat-card>
    </div>
} @else {
    <h1>There is an Error with this Article!</h1>
}


